In [1]:
print ("Twinkle, twinkle, little star,\n" 
        '        '"How I wonder what you are!\n"
        '                 '"Up above the world so high,\n"
        '                 '"Like a diamond in the sky.\n"
       "Twinkle, twinkle, little star,\n"
        '        '"How I wonder what you are")

Twinkle, twinkle, little star,
        How I wonder what you are!
                 Up above the world so high,
                 Like a diamond in the sky.
Twinkle, twinkle, little star,
        How I wonder what you are

In [2]:
!python --version

Python 3.7.12

In [3]:
from datetime import datetime
x = datetime.now()
print(x)

2022-01-01 14:03:42.803312

In [5]:
from math import pi
r = float(input ("Enter radius of circle : "))
print ("Area of the circle is: " + str(pi * r**2))

Enter radius of circle : 10
Area of the circle is: 314.1592653589793

In [6]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print (lname + " " + fname)

Input your First Name : Muhammad
Input your Last Name : Asif
Asif Muhammad

In [18]:
a = (input ("Enter first number = "))
b = (input ("Enter second number = "))
sum = int(a) + int(b)
print(sum)

Enter first number = 5
Enter second number = 5
10